<h1>Goodbye !</h1>
<p>
  it was nice working with you here
</p>

<p> 
  Say <a href="/say/hello"> hello </a>
  say again <%= link_to "Hello", say_hello_path%>
</p>

<ul>
<% @files.each do |file| %>
  file name is: <%= file %>
<% end %>
</ul>